@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

body::after {
    content: "";
    background: url('https://c1.wallpaperflare.com/preview/781/630/380/birthday-cake-celebration-color.jpg');
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.product-container {
    /*width: 100%;*/
    /*justify-content: center;
    flex-wrap: wrap;*/
}

.about-container {
    border: 2px solid;
    color: white;
    padding: 8px;
    text-align: justify;
    margin: 100px auto;
    background-color: #283F51;
    font-family: 'Helvetica Neue LT Std';
    opacity: 0.7;
}

.about-container h2 {
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
}
.about-container p {
    font-weight: bold;
}

.card-body {
    margin: 5px 2px 5px 10px;
    background-color: linen;
}

header {
    background: whitesmoke;
    color: white;
}

ul.dropdown-cart {
    min-width: 250px;
}

    ul.dropdown-cart li .item {
        display: block;
        padding: 3px 10px;
        margin: 3px 0;
    }

        ul.dropdown-cart li .item:hover {
            background-color: #f3f3f3;
        }

        ul.dropdown-cart li .item:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

    ul.dropdown-cart li .item-left {
        float: left;
    }

        ul.dropdown-cart li .item-left img,
        ul.dropdown-cart li .item-left span.item-info {
            float: left;
        }

        ul.dropdown-cart li .item-left span.item-info {
            margin-left: 10px;
        }

            ul.dropdown-cart li .item-left span.item-info span {
                display: block;
            }

    ul.dropdown-cart li .item-right {
        float: right;
    }

        ul.dropdown-cart li .item-right button {
            margin-top: 14px;
        }

h1 {
    color: white;
    text-align: center;
}
